<form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    {{input class="form-control" placeholder="Name, tag, or description ..." value=globalSearcher.searchExpression }}
  </div>
  <button {{action 'search'}} class="btn btn-default">Buscar</button>
</form>



