<form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    {{input class="form-control" placeholder="Nombre o descripcion ..." value=searchText }}
  </div>
  <button {{action 'search'}} class="btn btn-default">Buscar</button>
</form>



