{{unauthenticated-bar}}

<div class="container below-navigation-bar">

  <h1>Direccion incorrecta!</h1>
  <p>
    <span>
      No existe contenido en la url: /{{model.badUrl}}<br>
    </span>
  </p>
  <p>
    {{#link-to 'index'}}Volver al inicio{{/link-to}}
  </p>

</div>

